body {
  background: linear-gradient(135deg, #F7F4FA 5%, #D7CBEB 34%, #D4C1F1 69%, #C5B0E7 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}


/* NAVBAR */

.bopou {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 10px;
  background: linear-gradient(135deg, #F7F4FA 5%, #D7CBEB 34%, #D4C1F1 69%, #C5B0E7 100%);
  /* opacity: 0.5; */
  /* position: fixed; */
  width: 100%;
  margin-top: 0;
}

.logo {
}

.bopou ul {
  list-style: none;
  display: flex;
}
.bopou ul li {
  margin: 0 10px;
}

.bopou a {
  text-decoration: 0;
  color: #000;
  padding: 10px 20px;
  transition: 0.5s;
  border-radius: 6px;
}

.bopou a:hover {
  background-color: rgb(104, 16, 92);
  color: white;
  font-weight: bold;
}

@media screen and (max-width:1037px) {
  body {
      position: relative;
  }  
  .bopou {
      padding: 10px 20px;
  }  
  .bopou ul {
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      backdrop-filter: blur(10px);
      transition: 0.5s;
  }
  .bopou ul li {
      margin: 20px 0;
  }
  .bopou ul li a {
      text-transform: uppercase;
  }
  .buttonZZZZ {
      width: 50px;
      height: 50px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 100;
  }
  .buttonZZZZ::after {
      content: "";
      position: absolute;
      width: 35px;
      height: 2px;
      background-color: #000;
      box-shadow: 0 10px 0 #000;
      transform: translateY(-10px);
      transition: 0.5s;
  }
  .buttonZZZZ.active::after {
      box-shadow: 0 0 0 #000;
      transform: rotate(45deg);
  }
  .buttonZZZZ::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 2px;
      background-color: #000;
      transform: translateY(10px);
      transition: 0.5s;
  }
  .buttonZZZZ.active::before {
      box-shadow: 0 0 0 #000;
      transform: rotate(-45deg);
}
  ul .active {
      left: 0;
  }
}

/* ACCUEIL */

.hero {
  position: relative;
  background-image: url('IMG/WC.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.overlay h1 {
  font-size: 3rem;
  margin: 0;
}

.overlay p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.buttonAAA {
  position: relative;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.buttonAAA:hover {
  transform: scale(1.05);
  color: #000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttonAAA:active {
  transform: scale(0.9);
}

.buttonAAA::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #007bff, #00bfff);
  transition: all 0.85s ease-in-out;
  z-index: -1;
  border-radius: 50px;
}

.buttonAAA:hover::before {
  right: 100%;
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #dfceff;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #2d22d3;
  text-decoration: none;
  list-style: none;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #2d22d3;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #dfceff;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}



/* FOOTER */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /*background-color: #d8b9f1;  Adjust this color to match your design */
  padding: 20px 40px;
  color: black;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  /* Optional shadow for better visibility */
}

.footer-section {
  flex: -1;
  margin-right: 20px;
}

.footer-section h3 {
  margin-top: 0;
  text-decoration: underline;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section img {
  height: 40px;
  /* margin-bottom: 10px; */
  margin-left: -8%;
}

.footer-section a {
  text-decoration: none;
  color: black;
}

.footer-section a:hover {
  color: #6a0dad;
  /* Adjust this color to match your design */
}

.footer-bottom {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #c3c3c3;
  background-color: #d19df7;
}

.footer-bottom p {
  margin: 0;
  color: black;
  font-style: italic;
}

.logoFoot {
  height: 15px !important;
  margin-left: 3% !important;
}


/* SERVICES */

.bodies {
  overflow: hidden;
  margin: 0;
  /* margin-top: 110px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h1 {
  position: absolute;
  font: 40px;
  bottom: 20px;
  left: 20px;
  /* margin: 0; */
  opacity: 0;
  color: rgb(165, 18, 18);
}

.slide.active {
  flex: 10;
}

.slide.active h1 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.shadow {
  box-shadow: 5.91px 5.91px 15px #d3c9c9, -2.91px -2.91px 12px #eee6e6,
}

.titress {
  margin-top: -40vh;
}

/* NOS VALEURS */

.valeur {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.header {
  margin-top: 40px;
  text-align: center;
}

.header h1 {
  background-color: #b0a0d0;
  padding: 10px 80px;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(2, 2, 2, 4.1);
}

.values {
  display: flex;
  justify-content: space-around;
  margin-top: -40vh;
  transform: scale(1.0);
}

.value {
  background-color: #d0c0ff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(1, 1, 1, 0.5);
  padding: 20px;
  margin: 0 10px;
  width: 20%;
  min-width: 200px;

}

.value h3 {
  color: #b00000;
}

.value p {
  margin-top: 20px;
  color: #0c0000;
}

/* Media Queries pour les petits écrans */
@media (max-width: 768px) {
  .values {
    flex-direction: column;
    align-items: center;
  }

  .value {
    width: 90%; /* Prend 90% de la largeur de l'écran sur mobile */
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .value {
    width: 100%;
    margin: 10px 0;
  }

  .value h3 {
    font-size: 1.5em;
  }

  .value p {
    font-size: 1em;
  }
}



/* MESSAGE */

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.headers {
  text-align: center;
  margin-bottom: 40px;
}

.profile-pic img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

h1 {
  font-size: 2.5em;
  margin: 10px 0;
}

.highlight {
  color: #c451db;
}

.subtitle {
  color: #c451db;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}

.contact-form,
.contact-info {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
  width: 48%;
}

.contact-form h2,
.contact-info h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
  border-radius: 4px;
  font-size: 1em;
}

.buttons {
  background-color: #c85fdd;
  border: none;
  padding: 15px;
  font-size: 1em;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.buttons:hover {
  background-color: #810a77;
}

.contact-info p {
  margin: 10px 0;
  line-height: 1.5;
}

.contact-info p strong {
  display: block;
  margin-bottom: 5px;
}

.message {
  color: #fff;
  margin: 0;
  padding: 0;
}

/* TEMOIGNAGES */
.temoignage {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.21);
  border-radius: 8px;
}

.testimonial {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.51);
}

.quote {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.stars {
  font-size: 20px;
  color: #FFD700;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
  color: #333;
}



.retrait {
  margin-left: 10%;
  margin-right: 10%;
}

.nomTitre {
  text-align: center;
  text-decoration: underline;
  /* color: rgb(15, 206, 15); */
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 3em;
  font-family: Arial, sans-serif;
  color: #333;
  animation: colorChange 12s infinite, sizeChange 42s infinite;
}

@keyframes colorChange {
  0% {
    color: #333;
  }

  50% {
    color: #ff6347;
  }

  100% {
    color: #333;
  }
}

@keyframes sizeChange {
  0% {
    font-size: 2em;
  }

  50% {
    font-size: 3em;
  }

  100% {
    font-size: 2em;
  }
}

/* TESTCARD */

.testCard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: 60vh;
}

.wrapperZ i {
  height: 50px;
  width: 50px;
  background-color: #e2c0c0;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.50);
}

.wrapperZ i:first-child {
  left: -22px;
}

.wrapperZ i:last-child {
  right: -22px;
}

.wrapperZ {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapperZ .carouselZ {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carouselZ::-webkit-scrollbar {
  display: none;
}

.carouselZ :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carouselZ.no-transition {
  scroll-behavior: auto;
}

.carouselZ.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carouselZ.dragging .card {
  cursor: grab;
  user-select: none;
}

.carouselZ .cardZ {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-bottom: 60vh; */
}

.cardZ .imgZ {
  background: #8b53ff;
  width: 148px;
  height: 148px;
  border-radius: 50%;
  border: 4px solid #410449;
}

.cardZ .imgZ img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.cardZ h2 {
  font-weight: bold;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  text-align: center;
  color: #8f0d0d;
}

.cardZ span {
  color: #6a6d78;
  font-size: 1.31rem;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .wrapperZ .carouselZ {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapperZ .carouselZ {
    grid-auto-columns: 100%;
  }
}


/* TESTNAVBAR */
