* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(135deg, #F7F4FA 5%, #D7CBEB 34%, #D4C1F1 69%, #C5B0E7 100%);
    /* min-height: 100vh; */
    background-size: cover;
    background-position: center;
}

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f0c5e9;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.navBar .navbar ul {
    list-style: none;
}

.navBar .navbar ul li {
    position: relative;
    float: left;
}

.navBar .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

.navBar .navbar ul li a:hover {
    background: #333;
    color: #fff;
}

.navBar .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #f0c5e9;
    opacity: 0.7;
    display: none;
}

.navBar .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}

.navBar .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

.navBar .navbar ul li:focus-within > ul,
.navBar .navbar ul li:hover > ul {
    display: initial;
}

#menu-bar {
    display: none;
}

.navBar label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width:991px){
    .navBar {
        padding: 20px;
    }

    .navBar label {
        display: initial;
    }

    .navBar .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: transparent;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    .navBar .navbar ul li {
        width: 100%;
    }

    .navBar .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    .navBar .navbar ul li ul li {
        background: #eee;
    }

    .navBar .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}

/* CORPS DE LA PAGE */
.nomTitre {
    text-align: center;
    text-decoration: underline;
    /* color: rgb(15, 206, 15); */
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 3em;
    font-family: Arial, sans-serif;
    color: #333;
    animation: colorChange 12s infinite, sizeChange 42s infinite;
}

@keyframes colorChange {
    0% {
        color: #333;
    }
    
    50% {
        color: #ff6347;
    }
    
    100% {
        color: #333;
    }
}

.retrait {
    /* height: 100vh; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
  }
  
  
  @keyframes sizeChange {
    0% {
      font-size: 2em;
    }
  
    50% {
      font-size: 3em;
    }
  
    100% {
      font-size: 2em;
    }
  }

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /*background-color: #d8b9f1;  Adjust this color to match your design */
    padding: 20px 40px;
    color: black;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    /* Optional shadow for better visibility */
  }
  
  .footer-section {
    flex: -1;
    margin-right: 20px;
  }
  
  .footer-section h3 {
    margin-top: 0;
    text-decoration: underline;
  }
  
  .footer-section p {
    margin: 5px 0;
  }
  
  .footer-section img {
    height: 40px;
    /* margin-bottom: 10px; */
    margin-left: -8%;
  }
  
  .footer-section a {
    text-decoration: none;
    color: black;
  }
  
  .footer-section a:hover {
    color: #6a0dad;
    /* Adjust this color to match your design */
  }
  
  .footer-bottom {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #c3c3c3;
    background-color: #d19df7;
  }
  
  .footer-bottom p {
    margin: 0;
    color: black;
    font-style: italic;
  }
  
  .logoFoot {
    height: 15px !important;
    margin-left: 3% !important;
  }