* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #F7F4FA 5%, #D7CBEB 34%, #D4C1F1 69%, #C5B0E7 100%);
    /* min-height: 100vh; */
    background-size: cover;
    background-position: center;
}

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f0c5e9;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.navBar .navbar ul {
    list-style: none;
}

.navBar .navbar ul li {
    position: relative;
    float: left;
}

.navBar .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

.navBar .navbar ul li a:hover {
    background: #333;
    color: #fff;
}

.navBar .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: linear-gradient(135deg, #F7F4FA 5%, #D7CBEB 34%, #D4C1F1 69%, #C5B0E7 100%);
    display: none;
}

.navBar .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.navBar .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

.navBar .navbar ul li:focus-within>ul,
.navBar .navbar ul li:hover>ul {
    display: initial;
}

#menu-bar {
    display: none;
}

.navBar label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width:991px) {
    .navBar {
        padding: 20px;
    }

    .navBar label {
        display: initial;
    }

    .navBar .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: transparent;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }

    .navBar .navbar ul li {
        width: 100%;
    }

    .navBar .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    .navBar .navbar ul li ul li {
        background: #eee;
    }

    .navBar .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked~.navbar {
        display: initial;
    }
}

/* FOIRE AUX QUESTIONS */


.lepeu {
    margin: 0;
    padding: 0;
    color: #4d5974;
    display: flex;
    min-height: 100vh;
    margin-top: 5%;
}

.container {
    margin: 0;
    margin-left: 15%;
    padding: 4rem;
    width: 60rem;
}

.container h2 {
    color: #333;
    margin-top: 20px;
    position: relative;
    /* white-space: nowrap; Empêche le texte de passer à la ligne */
    animation: slideIn 10s infinite;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* background-color: #f9f9f9; */
    /* font-family: Arial, sans-serif; */
    font-size: 2.5em;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        color: #56b4b0;
    }

    50% {
        transform: translateX(0);
        /* color: #be6482; */
    }

    100% {
        transform: translateX(100%);
        /* color: #690707; */
    }
}


.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #03b5d2;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: navajowhite;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
}

.accordion button .accordion-title {
    padding: 1em 1.5rem 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    position: absolute;
    display: block;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    position: absolute;
    display: block;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button[aria-expanded='true'] {
    color: #03b5d2;
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
}

/* FOOTER */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 40px;
    color: black;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.footer-section {
    flex: -1 1 20px;
    /* Flex-grow: 1, Flex-shrink: 1, Minimum width: 200px */
    margin-right: 20px;
    margin-bottom: 20px;
    /* Add margin at the bottom for spacing in stacked layout */
}

.footer-section h3 {
    margin-top: 0;
    text-decoration: underline;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section img {
    height: 40px;
    margin-left: -8%;
}

.footer-section a {
    text-decoration: none;
    color: black;
}

.footer-section a:hover {
    color: #6a0dad;
}

.footer-bottom {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #c3c3c3;
    background-color: #d19df7;
}

.footer-bottom p {
    margin: 0;
    color: black;
    font-style: italic;
}

.logoFoot {
    height: 15px !important;
    margin-left: 3% !important;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-right: 0;
        text-align: center;
    }

    .footer-section img {
        margin-left: 0;
    }

    .logoFoot {
        margin-left: 0 !important;
    }
}